*{
	box-sizing: border-box !important;
	text-align: center !important;
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑" !important;
	overflow-x: hidden;
}
body>div{
	width: 1920px;
	/*height: 1820px;*/
	background-color: #232C33;
	margin: 0 auto !important;
}
ui,li{
	margin: 0 !important;
	padding: 0 !important;	
}
li{
	list-style-type: none !important;
}
a{
	color: black;
	text-decoration: none !important;
}

/*头部*/
header{
	width: 1920px;
	height: 86px;
	border: 1px solid #737373;
	position: relative;
	background-image: url(../imgs/toubu.png);
}
header .zmFMtitle{
	display: inline-block;
	width: 200px;
	height: 86px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 0%;
}
.zmFMtitle .zmFM{
	color: white;
	font-size: 36px;
}
.zmFMtitle .zmWorld{
	color: white;
	font-size: 14px;
	display: inline-block;
	width: 20px;
}
header input{
	text-align: left !important;
	width: 724px;
	height: 48px;
	font-size: 1.2em;
	position: relative;
	top: 20%;
}
header a{
	display: inline-block;
	width: 56px;
	height: 46px;
	/*background-color: #00FFFF;*/
	position: relative;
	top: 3%;
	left: -3.2%;
	border-left: 1px solid #F2F2F2;
}
header a img{
	width: 25px;
	height: 25px;
	position: relative;
	top: 30%;
}

/*主体*/
main{
	width: 100%;
	/*height: 1452px;*/
	margin: 0 auto !important;
	/*border-bottom: 4px solid  #52449C;*/
	position: relative;
}
main .zmMainLeft{
	float: left;
	display: inline-block;
	/*width: 1814px;*/
	width: 94.5%;
	height: 100%;
	/*height: 1450px;*/
	/*background-color: white;*/
	/*position: relative;*/
	top: 0%;
	left: 0%;
	background-color: #F2F2F2;
}
.zmMainLeft .zmLeftOne,.zmMainLeft .zmLeftTwo,.zmMainLeft .zmLeftThree{
	text-align: left !important;
	/*width: 95%;*/
	/*height: 410px;*/
	/*border: 1px solid yellowgreen;*/
}
.zmLeftOne .zmStop{
	width: 43px;
	height: 43px;
	position: absolute;
	top: 33%;
	left: 41%;
}
.zmLeftOne .zmLongTime{
	width: 196px;
	height: 7px;
	position: absolute;
	top: 70%;
	left: 12%;
}
.zmLeftOne .zmJindu{
	width: 131px;
	height: 7px;
	position: absolute;
	top: 70%;
	left: 12%;
}
.zmLeftOne .zmCirle{
	width: 13px;
	height: 13px;
	position: absolute;
	top: 69%;
	left: 60%;
}
.zmLongTime1,.zmLongTime2{
	position: absolute;
	color: white;
}
.zmLongTime1{
	top: 65%;
	left: 11%;
}
.zmLongTime2{
	top: 72%;
	left: 64%;
}
.zmLeftOne>p,.zmLeftTwo>p,.zmLeftThree>p{
	display: inline-block;
	margin: 2em 0 0 0;
	/*width: 160px;*/
	width: 9.3%;;
	height: 30px;
	line-height: 30px;
	font-size: 1.4em;
	color: #222222;
}
.zmLeftOne ul,.zmLeftTwo ul,.zmLeftThree ul{
	display: inline-block;
	/*width: 1814px;*/
	width: 100%;
	height: 410px;
	/*background-color: yellowgreen;*/
}
.zmLeftOne ul li,.zmLeftTwo ul li,.zmLeftThree ul li{
	text-align: left !important;
	display: inline-block;
	/*width: 260px;*/
	width: 14.4%;
	height: 410px;
	/*border: 1px solid hotpink;*/
	margin: 0px 20px 0px 5px !important;
	position: relative;
}
.zmLeftOne ul li img,.zmLeftTwo ul li img,.zmLeftThree ul li img{
	/*width: 260px;*/
	width: 100%;
	height: 320px;
	/*border: 1px solid gold;*/
}
.zmLeftOne ul li p,.zmLeftTwo ul li p,.zmLeftThree ul li p{
	/*width: 260px;*/
	width: 100%;
	height: 40px;
	margin: 10px 0px 0px 0px;
	padding: 10px 5px 5px 5px;
	/*border: 1px solid hotpink;*/
	overflow: hidden;
	text-overflow: ellipsis;
}
.zmLeftOne ul li span,.zmLeftTwo ul li span,.zmLeftThree ul li span{
	margin: 0px 0px 0px 4px;
}
.zmLeftTwo{
	position: relative;
	top: -3%;
}
.zmLeftThree{
	position: relative;
	top: -6%;
}
.zmLeftFour{
	position: relative;
	top: -5.5%;
	height: 80px;
}
.zmPages{
	width: 616px;
	height: 80px;
	line-height: 80px;
	/*border: 1px solid black;*/
	/*background-color: pink;*/
	position: relative;
	left: 32.7%;
}
.zmClear{
	clear: both !important;
}
main .zmMainRight{
	text-align: center;
	/*display: inline-block;*/
	width: 100px;
	/*height: 1398px;*/
	/*height: 500% !important;*/
	background-color: #232C33;
	/*position: absolute;*/
	float: right;
	/*top: 0%;*/
	/*right: 0%;*/
}
.zmMainRight .zmRightHead{
	text-align: center;
	width: 100px;
	height: 100px;
	/*border: 1px solid red;*/
	position: relative;
	top: 25px;
	left: -10%;
}
.zmMainRight .zmRightHead img{
	text-align: center !important;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 0;
	/*background-image: url() no-repeat;*/
	/*background-color: darkorange;*/
}
.zmMainRight .zmRightHead span a{
	position: relative;
	color: white !important;
	/*top: 25px;*/
	/*left: -4%;*/
}
.zmMainRight .zmRightGroom{
	width: 100px;
	height: 220px;
	/*border: 1px solid red;*/
	position: relative;
	top: 30px;
	left: -10%;
}
.zmRightGroom ul{
	width: 100px;
	height: 220px;
	display: inline-block;
	/*background-color: darkblue;*/
}
.zmRightGroom ul li{
	display: inline-block;
	width: 100px;
	height: 44px;
	line-height: 44px;
}
.zmRightGroom ul li a{
	color: white;
	font-size: 1.1em;
}




/*页脚*/
.zmFoot{
	width: 100%;
	height: 198px;
	background-color: #FFFFFF;
	/*border: 1px solid red;*/
	/*border-top: 2px solid #52449C;*/
	position: relative;
}
.zmFoot .footOne{
	display: inline-block;
	width: 354px;
	height: 84px;
	/*border: 1px solid #398439;*/
	position: absolute;
	top: 28%;
	left: 1%;
	text-align: left !important;
}
.zmFoot .footOne ul{
	text-align: left !important;
	display: inline-block;
	width: 354px;
	/*border: 1px solid #31B0D5;*/
}
.footOne ul li{
	display: inline-block;
	width: 58px;
	margin: 10px 10px 10px 6px !important;
	/*border: 1px solid #FF69B4;*/
}
.footOne .Oneother a{
	color: #454545 !important;
}
.footOne span{
	color: #808080;
	font-size: 0.8em;
	margin: 0px 0px 0px 5px !important;
}
.zmFoot .footTwo{
	width: 100px;
	height: 80px;
	/*border: 1px solid darkblue;*/
	position: absolute;
	top: 28%;
	left: 45%;
}
.zmFoot .footTwo img{
	width: 100px;
	height: 50px;
	/*border: 1px solid #080808;*/
	margin: 0px 0px 10px 0px !important;
}
.zmFoot .footTwo span{
	display: inline-block;
	width: 178px;
	/*border: 1px solid red;*/
	color: #808080;
	font-size: 0.8em;
	position: absolute;
	left: -40%;
}
.zmFoot .footThree{
	display: inline-block;
	width: 354px;
	height: 120px;
	/*border: 1px solid #398439;*/
	position: absolute;
	top: 28%;
	right: 1%;
}
.footThree .threeOne{
	width: 210px;
	/*border: 1px solid red;*/
	margin: 20px 0px 0px 0px !important;
}
/*.footThree .threeOne img{
	width: 20px;
	height: 20px;
	background-color: red;
}*/
.footThree .threeOne img:nth-child(1){
	margin: 5px 8px 10px -8px !important;
}
#threeImg{
	margin: 0px 7px 0px 2px !important;
}
#threeSpan{
	position: absolute;
	top: 60%;
	left: 11%;
}
.footThree .threeTwo img{
	width: 98px;
	height: 90px;
	background-color: hotpink;
	position: absolute;
	top: 2%;
	left: 68%;
}
.zmFoot .footThree .threeTwo span{
	position: absolute;
	top: 80%;
	left: 74%;
}