*{
	box-sizing: border-box;
}
a{
	outline: none !important;
	text-decoration: none !important;
	font-size:14px;
	font-family:'tahoma','arial','微软雅黑','sans-serif';
	color:#333333 ;
}
html,body{
	height:100%;
	margin: 0px;
	padding: 0px;
	font-size:14px;
	font-family:'tahoma','arial','微软雅黑','sans-serif';
}
body{
	overflow: -Scroll;
	overflow-x: hidden;
	background-color: #F2F2F2;
}

ul{
	list-style:none;
	
	padding: 0;
}
li{
	text-decoration: none;
	display: inline-block;
	
}
.headerNav{
	width: 100%;
	height: 130px;
	
	/*background-color:black;*/
	z-index: 30;
}
.headerNavLeft{
	margin:40px 0 0 40px;
	float: left;
}
.headerNavRight{
	/*width:560px;*/
	height: 100px;
	/*background-color: white;*/
	float: right;
	position: relative;
}
.RegisterLogin{
	position: relative;
	top:30px;
	left: 350px;
	color: black;
}
.RegisterLogin a{
	color: black !important;
}
.RegisterLogin a:hover{
	color: #FD9800 !important;
}
.titleUl{
	position: relative;
	left:10px;
	top:80px;
}
.titleUl li{
	width: 70px;
	height: 35px;
	/*background-color: black;*/
	margin-right: 50px;
	text-align: center;
}
/*.titleUl li:nth-child(4){
	margin-right: 0px;
	position: relative;
}*/
.titleUl li a{
	color: black;
	font-size: 15px;
}
.title1{
	width:120px;
	height: 170px;
	background-color:rgba(250,250,250,0.7);
	position: absolute;
	top:40px;
	left: 95px;
	padding-top:20px;
}
.title1 li{
	margin-right: 0;
}
.title1 a{
	color: black !important;
	font-size:16px !important;
}
.titleUlLi{
	border-bottom: 2px solid rgba(0,0,0,0.6);
}
.Title{
	position: relative;
	top: -35px;
}

.headerNavRight a:hover{
	color:#FD9800 !important ;
}
.headerTop{
	height: 70px;
	background-color:white;
}
.classLogo{
	height: 100%;
}
.classLogo img{
	width: 150px;
	height: 50px;
}
 .headerRight{
	height:70px;
	float: right;
	display: inline-block;
	position: relative;
	top: 40px;
}
.registerLogin{
	position: relative;
	left:70%;
	top: -30px;
	
}
.registerLogin p{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.registerLogin p a:hover{
 	color: orange;
 }
 .headerTitle {
 	margin-bottom:10px;
 }
.headerTitle li{
	margin-right:40px;
}
.headerTitle li a{
	font-size: 17px;
}
.headerTitle li a:hover{
	color: orange;
}
.navigationBar{
	width: 100%;
	height:50%;
	background-image: url(../img/banner-.png);
}
.main{
	width: 70%;
	
	margin: 0 auto;
	background-color: #F2F2F2;
}
.leftMain{
	width:69%;
	height: 100%;
	display: inline-block;
	
}
.rightMain{
	width:30%;
	display: inline-block;
	float: right;
}
.Position{
	margin-top:40px;
	color:darkgray;
}
.Position a{
	color: darkgray;
}
.Position a:hover{
	color: orange;
}
.articleList{
	margin-top: 30px;
}
.articleList ul:nth-child(1) li{
	text-align: center;
	line-height: 60px;
	width:13% ;
	height:60px;
	border: 1px solid #52449a;
	border-radius: 6px;
	margin-right:25px;
}
.articleList ul:nth-child(1) li:hover{
	border: 1px solid orange;
	background-color: orange;
	color: white;
}

.articleList ul:nth-child(1) li a{
	width:100% ;
	height:100%;
	display: inline-block;
	color: #52449a;
	font-size:18px;
}
.articleList ul:nth-child(1) li a:hover{
	color: white;
}
.articleList ul:nth-child(2){
	margin-top: 20px;
}
.articleList ul:nth-child(2) li{
	text-align: center;
	line-height: 40px;
	width:9% ;
	height:40px;
	border: 1px solid #52449a;
	border-radius: 6px;
	margin-right:15px;
}
.articleList ul:nth-child(2) li a{
	width:100% ;
	height:100%;
	display: inline-block;
	color: #52449a;
	font-size:13px;
}
.articleList ul:nth-child(2) li:hover{
	border: 1px solid orange;
	background-color: orange;
	color: white;
}
.articleList ul:nth-child(2) li a:hover{
	color: white;
}
.Nivo{
	width: 100%;
	background-color: white;
	padding-bottom: 50px;
}
.Nivo1 {
	padding-top: 20px;
}
.Nivo1 p:nth-child(1){
	width: 120px;
	height: 47px;
	background-color: orange;
	text-align: center;
	line-height: 47px;
	color: white;
	font-size: 20px;
	border-top-right-radius:30px ;
	border-bottom-right-radius:30px;
	
}
.Nivo1 p:nth-child(2){
	color:#695da7;
	font-weight: 700;
	font-size: 23px;
	margin-top: 21px;
	margin-left: 62px;
}
.Nivo1 p:nth-child(3){
	width: 100%;
	height:330px;
	background-image: url(../img/wenzhang11.png);
	background-size: 100% 100%;
	display: block;
}
.Link{
	/*width: 600px;*/
	height: 30px;
	/*background-color: red;*/
	float: right;
	line-height: 30px;
	margin-right: 10px;
}
.Nivo2{
	padding-top: 20px;
}
.Nivo2 p:nth-child(1){
	width: 120px;
	height: 47px;
	background-color: orange;
	text-align: center;
	line-height: 47px;
	color: white;
	font-size: 20px;
	border-top-right-radius:30px ;
	border-bottom-right-radius:30px;
	
}
.Nivo2 p:nth-child(2){
	color:#695da7;
	font-weight: 700;
	font-size: 23px;
	margin-top: 21px;
	margin-left: 62px;
}
.Nivo2 p:nth-child(3){
	width: 100%;
	height:330px;
	background-image: url(../img/wenzhang2.png);
	background-size: 100% 100%;
	display: block;
}

.Nivo3{
	padding-top: 20px;
}
.Nivo3 p:nth-child(1){
	width: 120px;
	height: 47px;
	background-color: orange;
	text-align: center;
	line-height: 47px;
	color: white;
	font-size: 20px;
	border-top-right-radius:30px ;
	border-bottom-right-radius:30px;
	
}
.Nivo3 p:nth-child(2){
	color:#695da7;
	font-weight: 700;
	font-size: 23px;
	margin-top: 21px;
	margin-left: 62px;
}
.Nivo3 p:nth-child(3){
	width: 100%;
	height:330px;
	background-image: url(../img/wenzhang3.png);
	background-size: 100% 100%;
	display: block;
}
.guessYou{
	width: 100%;
	background-color:white;
	margin-top: 30px;
}
.guessYou p:nth-child(1){
	width: 100%;
	height: 40px;
	background-color: #F2F2F2;
	font-size: 20px;
	font-weight: 700;
}
.Article{
	width: 100%;
	padding:22px;
	padding-bottom:60px;
}
.Article1{
	width: 100%;
}
.Article1 p:nth-child(1){
	width: 204px;
	height:133px;
	background-color: red;
	float: left;
	margin-right:41px ;
}
.Article1 p:nth-child(1) img{
	width: 204px;
	height:133px;
}
.Article1 p:nth-child(2) a{
	color:#695da7;
	font-weight: 700;
	font-size: 23px;
}
.Article1 p:nth-child(3){
	color: gray;
}
.Article1 a:nth-child(4){
	margin-top: 20px;
	float: right;
	color: orange;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: white;
	margin-top: 80px;
	padding-left:80px ;
	
}
.heartGrowth{
	width: 100%;
	height: 254px;
	background-image: url(../img/guanggao.png);
	margin-top: 57px;
}
.topRanking{
	width: 100%;
	height: 456px;
	background-color: white;
	margin-top: 20px;
	padding: 20px;
}
.topRanking p:nth-child(1){
	font-weight: 700;
	font-size: 23px;
}
.happyFamilyReport{
	width: 100%;
	height:250px;
	background-image: url(../img/guanggao2.png);
	margin-top: 68px;
}
.zmFoot{
  width: 100%;
  height: 198px;
  background-color: #FFFFFF;
  
  position: relative;
}
.zmFoot .footOne{
  display: inline-block;
  width: 354px;
  height: 84px;
  
  position: absolute;
  top: 28%;
  left: 1%;
  text-align: left !important; 
}
.zmFoot .footOne ul{
  text-align: left !important;
  display: inline-block;
  width: 354px;
  
}
.footOne ul li{
  display: inline-block;
  width: 58px;
  margin: 10px 10px 10px 6px !important;
 
}
.footOne span{
  color: #808080;
  font-size: 0.8em;
  margin: 0px 0px 0px 5px !important;
}
.zmFoot .footTwo{
  width: 100px;
  height: 80px;
 /* border: 1px solid darkblue;*/
  position: absolute;
  top: 28%;
  left: 45%;
}
.zmFoot .footTwo img{
  width: 100px;
  height: 50px;
  
  margin: 0px 0px 10px 0px !important;
}
.zmFoot .footTwo span{
  display: inline-block;
  width: 178px;
  /*border: 1px solid red;*/
  color: #808080;
  font-size: 0.8em;
  position: absolute;
  left: -40%;
}
.zmFoot .footThree{
  display: inline-block;
  width: 354px;
  height: 120px;
 
  position: absolute;
  top: 28%;
  right: 1%;
}
.footThree .threeOne{
  width: 210px;
 
  margin: 20px 0px 0px 0px !important;
}
.footThree .threeOne img{
  width: 20px;
  height: 20px;
 
}
.footThree .threeOne img:nth-child(1){
  margin: 5px 8px 10px -8px !important;
}
#threeImg{
  margin: 0px 7px 0px 2px !important;
}
#threeSpan{
  position: absolute;
  top: 70%;
  left: 12%;
}
.footThree .threeTwo img{
  width: 98px;
  height: 90px;
  background-color: hotpink;
  position: absolute;
  top: 2%;
  left: 68%;
}
.zmFoot .footThree .threeTwo span{
  position: absolute;
  top: 80%;
  left: 74%;
}
